/* Custom styles for react-slick carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots {
    bottom: -40px;
}

.slick-dots li button:before {
    color: #00B4D8;
    opacity: 0.25;
}

.slick-dots li.slick-active button:before {
    color: #00B4D8;
    opacity: 1;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: #00B4D8;
}

@media (max-width: 1024px) {
    .slick-prev {
        left: -30px;
    }

    .slick-next {
        right: -30px;
    }
}